@model IEnumerable<BookPresenter.Models.BookViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>name</th>
             <th>author</th>
            <th>publish date</th>
        </tr>
    </thead>
   <tbody>
        @foreach(var book in Model)
        {
            <tr>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>@book.PublishDate</td>
            </tr>
        }

   </tbody>
</table>
